-
	var verTag = "1.0.0"
	var assetsPath = "/"
	var viewport = "width=device-width"
		+ ",initial-scale=1.0"
		//- + ",maximum-scale=1.2"
		//- + ",minimum-scale=1.0"

head
	meta(charset="utf-8")
	title= pageTitl
	meta(name="title" content=pageTitl)
	meta(name="description" content=pageDisc)
	meta(name="keywords" content=pageKeyw)
	meta(name="viewport" content=viewport)

	meta(name="apple-mobile-web-app-capable" content="yes")
	meta(name="apple-mobile-web-app-status-bar-style" content="default")
	meta(name="format-detection" content="telephone=no")
	//- meta(name="apple-itunes-app" content="app-id=123456789")
	meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
	
	//- link(rel="apple-touch-icon" href="#{assetsPath}assets/apple-touch-icon.png?v=#{verTag}")
	link(rel="apple-touch-icon" href="#{assetsPath}assets/apple-touch-icon.png?v=#{verTag}")
	link(rel="apple-touch-icon" sizes="76x76" href="#{assetsPath}assets/apple-touch-icon-76.png?v=#{verTag}")
	link(rel="apple-touch-icon" sizes="120x120" href="#{assetsPath}assets/apple-touch-icon-120.png?v=#{verTag}")
	link(rel="apple-touch-icon" sizes="152x152" href="#{assetsPath}assets/apple-touch-icon-152.png?v=#{verTag}")
	link(rel="apple-touch-icon" sizes="180x180" href="#{assetsPath}assets/apple-touch-icon-180.png?v=#{verTag}")
	link(rel="shortcut icon" href="#{assetsPath}assets/favicon.ico?v=#{verTag}")

	link(rel="stylesheet" href="#{assetsPath}assets/app.css?v=#{verTag}")
	
	block headScripts
		script(type='text/javascript').
			!function(a){var h,b={kitId:"ntr4oaq",scriptTimeout:3e3,async:!0},c=a.documentElement,d=setTimeout(function(){c.className=c.className.replace(/\bwf-loading\b/g,"")+" wf-inactive"},b.scriptTimeout),e=a.createElement("script"),f=!1,g=a.getElementsByTagName("script")[0];c.className+=" wf-loading",e.src="https://use.typekit.net/"+b.kitId+".js",e.async=!0,e.onload=e.onreadystatechange=function(){if(h=this.readyState,!(f||h&&"complete"!=h&&"loaded"!=h)){f=!0,clearTimeout(d);try{Typekit.load(b)}catch(a){}}},g.parentNode.insertBefore(e,g)}(document);
		script(type="text/javascript" src="#{assetsPath}assets/libs.js?v=#{verTag}")
