-
	//- var verTag = "2.1.0-alpha"
	var viewport = "width=device-width, viewport-fit=cover"
		//- + ",height=device-height"
		+ ",initial-scale=1.0"
		+ ",maximum-scale=1.0"
		+ ",minimum-scale=1.0"
	var appName  = "魚缸"

head
	meta(charset="utf-8")
	title= pageTitl
	meta(name="title" content=pageTitl)
	meta(name="description" content=pageDisc)
	meta(name="keywords" content=pageKeyw)
	meta(name="viewport" content=viewport)
	meta(name="theme-color" content="#fcfcfc")

	meta(name="apple-mobile-web-app-capable" content="yes")
	meta(name="apple-mobile-web-app-status-bar-style" content="default")
	meta(name="apple-mobile-web-app-title" content=appName)
	meta(name="format-detection" content="telephone=no")
	meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
	
	link(rel="apple-touch-icon" href=`${assetsPath}assets/apple-touch-icon.png?v=${verTag}`)
	link(rel="apple-touch-icon" sizes="76x76" href=`${assetsPath}assets/apple-touch-icon-76.png?v=${verTag}`)
	link(rel="apple-touch-icon" sizes="120x120" href=`${assetsPath}assets/apple-touch-icon-120.png?v=${verTag}`)
	link(rel="apple-touch-icon" sizes="152x152" href=`${assetsPath}assets/apple-touch-icon-152.png?v=${verTag}`)
	link(rel="apple-touch-icon" sizes="180x180" href=`${assetsPath}assets/apple-touch-icon-180.png?v=${verTag}`)
	
	//- https://www.leereamsnyder.com/blog/favicons-in-2021
	//- https://evilmartians.com/chronicles/how-to-favicon-in-2021-six-files-that-fit-most-needs
	link(rel="icon" href=`/favicon.ico?v=${verTag}` sizes="any")
	link(rel="icon" href=`/favicon.svg?v=${verTag}` type="image/svg+xml")
	link(rel="mask-icon" href=`/favicon-mask.svg?v=${verTag}` color="#999999")
	
	block socialMetas
		meta(property="og:type"        content="website")
		meta(property="og:locale"      content="en")
		meta(property="og:site_name"   content=appName)
		meta(property="og:title"       content=pageTitl)
		meta(property="og:image"       content=pageHero)
		meta(property="og:url"         content=pageLink)
		meta(property="og:description" content=pageDisc)
		meta(name="twitter:card" content=twitterType)
		meta(name="twitter:site" content="@laerhsif")
	
	link(rel="stylesheet" href=`${assetsPath}assets/app.css?v=${verTag}`)
	//- script(type="text/javascript").
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create','UA-82807389-1','auto');ga('send','pageview');
	
	block headScripts
		script(type="text/javascript").
			(function(d) {
				var config = {
				kitId: 'bgd2apw',
				scriptTimeout: 3000,
				async: true
				},
				h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
			})(document);
